*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.274);
    font-family: 'Poppins', 'Noto Serif Bengali', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header h1{
    font-size: 50px;
}

header img{
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 360px){
    header h1{
        font-size: 40px;
    }
}

@media only screen and (max-width:300px){
    header h1{
        font-size: 32px;
    }

    .section-header{
        font-size: 20px;
    }
}

.section-header{
    margin-bottom: 20px;
    margin-top: 100px;
    padding-left: 16px;
}

.section-header img{
    width: 25px;
    height: 25px;
    animation: book-icon 2s ease-out infinite forwards;
}

@keyframes book-icon{
    0%, 100%{
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

.book-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.book{
    border: 5px black solid;
    width: 170px;
    height: 330px;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.2s ease-in;
    overflow: hidden;
}

.book:hover{
    transform: scale(1.2) translateY(-50px);
    box-shadow: 0px 2px 18px 0px #000;
}

.img-section{
    height: 80%;
    border-bottom: 2px black solid;
}

.img-section img{
    width: 100%;
    height: 100%;
}

.text-section{
    background-color: rgb(65, 57, 57);
    height: 20%;
    font-size: 13px;
    color: white;
}

.book-name{
    font-weight: 600;
}

.text-section p{
    padding-left: 3px;
}

.price{
    padding-left: 30px;
}

.price-icon{
    width: 17px;
    height: 17px;
}