*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.281);
    font-family: 'Poppins', 'Noto Serif Bengali', sans-serif;
    opacity: 0;
    animation: bodyani 1.5s ease forwards;
}

@keyframes bodyani{
    100%{
        opacity: 1;
    }
}

::selection{
    background-color: rgba(0, 0, 0, 0.562);
    color: rgba(255, 255, 255, 0.753);
}

/* the styles of document header start */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header h1{
    font-size: 50px;
    transform: translateY(50px);
    font-weight: bold;
    opacity: 0;
    animation: headerani 0.8s ease-in 0.8s forwards;
}

@keyframes headerani{
    50%{
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

header img{
    width: 200px;
    height: 200px;
    transform: translateY(70px) rotate(180deg);
    opacity: 0;
    animation: headerani 0.8s ease-in forwards;
}

/* the styles of document header end */

/* the style of navigation section start */

.navbar{
    background-color: rgb(54, 53, 53);
    margin-top: 50px;
    animation: nav-ani 2s ease-out 0.5s forwards;
    visibility: hidden;
}

@keyframes nav-ani{
    50%{
        visibility: hidden;
    }

    60%{
        visibility: hidden;
    }

    90%{
        visibility: hidden;
    }

    to{
        visibility: visible;
    }
}

.navbar .nav-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0 10px 0;
}

.navbar .nav-ul .nav-li{
    text-align: center;
    vertical-align: middle;
}

.nav-li:nth-child(1) a:hover,
.nav-li:nth-child(2) a:hover, 
.nav-li:nth-child(3) a:hover{
    text-shadow: -1px -3px 5px #000000;
    color: rgb(173, 170, 170) !important;
}

.navbar .nav-ul .nav-li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-ul .nav-li a i{
    font-size: 13px;
}
  
.navbar .nav-li .dropdown-content {
   display: none;
   position: absolute;
   background-color: rgb(37, 36, 36);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 5;
}
  
.nav-li .dropdown-content a {
   color: white;
   padding: 5px 2px;
   text-decoration: none;
   display: block;
   border-bottom: 0.1px solid white;
   font-size: 16px !important;
   text-align: left;
}

.nav-li .dropdown-content a:last-child{
    border-bottom: none;
}
  
.nav-li .dropdown-content a:hover {
    background-color: rgb(58, 58, 58);
}

.dropbtn a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.dropbtn:hover .dropdown-content{
    display: block;
}

.bi-caret-down-fill{
    position: relative;
    display: block;
    margin-left: 2px;
    margin-top: 5px;
    transition: transform 0.1s linear;
}

.dropbtn:hover .bi-caret-down-fill{
    transform: rotate(-180deg);
}

/* the style of navigation section end */
/* media query section of index start */

/* media query of nav bar start */

@media only screen and (max-width:960px){
    .navbar{
        background: none;
    }

    .nav-li{
        width: 250px;
        background-color: rgb(73, 73, 73);
        margin-top: 10px;
        padding: 10px 0 10px 0;
    }

    .navbar .nav-li .dropdown-content{
        margin-top: 15px;
        width: 250px;
    }

    .navbar .nav-li .dropdown-content a{
        text-align: center;
    }
}

@media only screen and (max-width:802px){
    .nav-li{
        width: 260px;
    }

    .navbar .nav-li .dropdown-content{
        width: 260px;
    }
}

@media only screen and (max-width:519px){
    .nav-li{
        width: 100%;
        margin-top: 0;
        border-bottom: 1px white solid;
    }

    .nav-li:last-child{
        border-bottom: none;
    }

    .navbar .nav-li .dropdown-content{
        width: 100%;
    }
    
}

/* media query of nav bar end */

@media only screen and (max-width: 360px){
    header h1{
        font-size: 40px;
    }
}

@media only screen and (max-width:300px){
    header h1{
        font-size: 32px !important;
    }

    .section-header{
        font-size: 20px;
    }
}

@media only screen and(max-width:214px){
    .book:hover{
        box-shadow: 0px 2px 18px 0px black;
        transform: translateY(-20px);
    }
}

@media only screen and (max-width:557px){
    .section-header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width:371px){
    .book{
        margin: 0 8px;
    }
}

/* media query section of index end */

/* book section header style start */

.section-header{
    margin-bottom: 20px;
    margin-top: 100px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    animation: sec-head-ani 2s 0.5s ease-out forwards;
}

@keyframes sec-head-ani{
    50%{
        opacity: 0;
    }

    90%{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes book-icon{
    0%, 100%{
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}

.section-header img{
    width: 25px;
    height: 25px;
    opacity: 0;
    animation: book-icon 2s 2s ease-out infinite forwards;
}

.section-header span{
    margin-top: 5px;
    animation: sec-head-span-ani 1.2s ease-out infinite;
}

@keyframes sec-head-span-ani{
    50%{
        transform: translateY(-5px);
    }

    70%{
        transform: translateY(0px);
    }
}

/* book section header style end */

/* the styles of books start */

.book-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.book{
    border: 5px black solid;
    width: 160px;
    height: 320px;
    border-radius: 8px;
    margin: 20px 8px;
    transition: all 0.2s ease-in;
    overflow: hidden;
}

.book:hover{
    transform: scale(1.1) translateY(-24px);
}

.book:active{
    box-shadow: 0px 2px 25px 0px #000;
}

.img-section{
    height: 80%;
    border-bottom: 2px black solid;
}

.img-section img{
    width: 100%;
    height: 100%;
}

.text-section{
    background-color: rgb(65, 57, 57);
    height: 20%;
    font-size: 13px;
    color: white;
}

.book-name{
    font-weight: 600;
}

.book-name a{
    text-decoration: none;
    color: white;
}

.book-name a:hover{
    text-decoration: underline;
}

.text-section p{
    padding-left: 3px;
    padding-right: 3px;
}

.price-icon{
    width: 17px;
    height: 17px;
}

.date-and-price {
    display: flex;
    justify-content: space-between;
}

.date-and-price p:nth-child(1){
    padding-top: 4px;
}

/* the styles of books end */

/* footer section style start */

footer{
    margin-top: 100px;
}

.copyright-section{
    background-color: #18171D;
    text-align: center;
}

.copyright-section p{
    color: white;
    font-size: 10px;
    padding: 3px;
}

.social-info{
    background-color: #1F1E28;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.social-info i{
    font-size: 40px;
    margin: 0 20px;
    margin-top: 10px;
    transition: transform 0.3s linear;
}

.footer-facebook i{
    color: #3960AA;
}

.footer-instagram i{
    color: #E16441;
}

.footer-linkedin i{
    color: #0073B1;
}

.footer-twitter i{
    color: #1C9CEA;
}

.social-info i:hover{
    transform: translateY(-10px) scale(1.2);
}

@media only screen and (max-width:349px){
    .social-info i{
        margin: 15px 38px;
    }
}

@media only screen and (max-width:261px){
    .social-info i{
        margin: 10px 25px;
    }
}

/* footer section style end */